# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (если не хочешь коммитить настройки)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Generated localization files (intl_utils)
lib/**/generated/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Web build outputs
/web/.dart_tool/
/web/build/
/web/generated_plugin_registrant.dart